:root {
    --big-margin: 80px;
    --normal-margin: 30px;
    --small-margin: 10px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: var(--normal-cursor);
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --normal-cursor: url(./media/cursor_dark.png), auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #000000;
        --secondary-color: #ffffff;
        --normal-cursor: url(./media/cursor_light.png), auto;
    }
}

::selection {
    background-color: none;
}

::-webkit-scrollbar {
    display: none;
}

[clue="true"] {
    cursor: help;
}

[encryption]::after {
    display: none;
}

[encryption="flipped"] {
    transform: rotate(180deg);
    text-align: right;
}

[encryption="RTL"] {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: left;
}

[encryption="flippedRTL"] {
    direction: rtl;
    unicode-bidi: bidi-override;
    transform: rotate(180deg);
    text-align: right;
}

[encryption="flipped"]:hover,
[encryption="RTL"]:active,
[encryption="flippedRTL"]:active {
    transform: rotate(0deg);
    direction: rtl;
    unicode-bidi: normal;
    text-align: left;
}

[person]::before {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

[person="Jones"]::before {
    content: "Jones:";
}

[person="You"]::before {
    content: "You:";
}

body {
    margin: 0px;
    background-color: var(--primary-color);
}

article {
    width: 100vw;
    height: fit-content;
    background-color: var(--primary-color);
    position: relative;
    margin-bottom: var(--big-margin);
}

article h1,
article p {
    color: var(--secondary-color);
    width: 100vw;
    text-align: left;
    margin: var(--small-margin) auto;
    max-width: 600px;
}

article:first-of-type p:last-of-type {
    margin: var(--normal-margin) auto;
}

article:first-of-type p:last-of-type span:not([person]) {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
}

article:first-of-type p:last-of-type span:not([person])::selection {
    background-color: var(--secondary-color);
}

main>article:first-of-type,
main>article:nth-of-type(2) {
    margin-bottom: 0px;
}

main>div:first-of-type {
    background-color: var(--primary-color);
    width: 100vw;
    max-width: 600px;
    height: 60px;
    margin: var(--small-margin) auto;
    overflow-y: scroll;
}

main>div:first-of-type p {
    padding-top: 100px;
    margin: 0px 0px 30px 0px;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
}

main>div:first-of-type p:active {
    text-align: center;
}

main>div:nth-of-type(2) {
    background-color: var(--primary-color);
    width: 100vw;
    max-width: 600px;
    height: 80px;
    margin: var(--small-margin) auto;
    overflow-x: scroll;
}

main>div:nth-of-type(2) p {
    padding: 25px 180px 0px 0px;
    width: 200%;
    text-align: right;
    color: var(--secondary-color);
}





section {
    max-width: 600px;
    margin: var(--small-margin) auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 50px;
}

section>h1 {
    width: 100%;
    color: var(--secondary-color);
    margin: 0px 0px var(--small-margin) 0px;
}

section>p {
    width: 100%;
    color: var(--secondary-color);
    margin: 0px 0px var(--small-margin) 0px;
}

section article {
    width: calc(50% - 40px);
    min-width: 140px;
    max-width: 172px;
    height: 220px;
    padding: 10px;
    background-color: var(--secondary-color);
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

section article div {
    width: 100%;
    height: 100%;
    max-height: 150px;
    background-color: var(--primary-color);
}